version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: mohanmanjhi
      POSTGRES_PASSWORD: postgres
      POSTGRES_MULTIPLE_DATABASES: students_db,departments_db,courses_db,faculty_db,college_admin
    ports:
      - "5432:5432"
    volumes:
      - ./init-scripts:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mohanmanjhi"]
      interval: 5s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:6
    environment:
      MONGO_INITDB_ROOT_USERNAME: mohanmanjhi1315
      MONGO_INITDB_ROOT_PASSWORD: "Mohan@2025DB"
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "'db.adminCommand(\"ping\")'"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  mongo_data: